<div class="container">

  <h1> Voici vos réservation</h1>

    <% @bookings.each do |booking| %>
      <div class="card-product-bookings">
        <%= image_tag(booking.car.photos.first) %>
        <div class="card-product-infos mb-8">
          <h2> <%= booking.car.brand %></h2>
          <h5> <%= booking.car.model %></h5>
          <h5> <%= booking.car.year %></h5>
          <h5><em>Du: <%= booking.start_date.strftime("%Y-%m-%d %I:%M")%></em></h5>
          <h5><em> Au: <%= booking.end_date.strftime("%Y-%m-%d %I:%M")%></em></h5>
           <%= link_to "Supprimer",
              booking_path(booking),
              method: :delete,
              data: { confirm: "Are you sure?"},
              class:"btn btn-dark" %>
        </div>
      </div>
    <% end %>
</div>
