<div class ="show">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
          <div class="img-show carousel-inner w-100 ">
              <% @car.photos.each_with_index do |photo, index| %>
                <div class="carousel-item <%= "active" if index.zero? %>">
                  <%= cl_image_tag photo.key, crop: :fill, class:"d-block image-caroussel" %>
                </div>
              <% end %>
          </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
    </div>

  <div class="spec-and-booking-card">
    <div class="specifications">
      <h1> Brand:  <strong><%= @car.brand %> </h1> </strong>
      <h1>Model: <strong><%= @car.model %> </h1> </strong>
      <h3>Year: <strong><%= @car.year %> </h3> </strong>
      <h3>Engine: <strong><%= @car.engine %> </h3></strong>
      <h4>Color: <strong> <%= @car.color %> </h4> </strong>
      <h4>Type: <strong><%= @car.car_type %></h4></strong>
      <h4> Price: <strong> <%= @car.price %></strong></h4>
      <p><%= link_to "Supprimer cette voiture",
                  car_path(@car),
                  method: :delete,
                  data: { confirm: "Are you sure?"}, class: 'link-index' %></p>
    </div>



    <div class="booking-car">
         <strong>
            <h3 class="reserver-h3">Réservez votre véhicule</h3>
         </strong>
          <br>
          <br>
          <h4 class="paiement-securise">Paiement sécurisé</h4>
          <p class="ce-vh-vous-interesse"> Ce véhicule vous intéresse? Cliquez sur le lien ci dessous pour procéder à la réservation!</p>
          <p> <%= link_to "Reservation", new_car_booking_path(@car), class: "btn btn-dark" %> </p>
    </div>
</div>
