<h1> <%= @car.brand %> </h1>
<p> <%= @car.year %></p>
<p> <%= @car.engine %></p>
<p> <%= @car.color %></p>
<p> <%= @car.car_type %></p>
<% @car.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
