<div class ="show">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
          <div class="img-show carousel-inner ">
              <% @car.photos.each_with_index do |photo, index| %>
                <div class="carousel-item <%= "active" if index.zero? %>">
                  <%= cl_image_tag photo.key, crop: :fill, class:"d-block w-100 image-caroussel" %>
                </div>
              <% end %>
          </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
    </div>
  <div class="specifications">
    <h1> Brand: <%= @car.brand %> </h1>
    <h1>Model: <%= @car.model %> </h1>
    <h3>Year: <%= @car.year %> </h3>
    <h3>Engine: <%= @car.engine %> </h3>
    <h4>Color: <%= @car.color %> </h4>
    <h4>Type: <%= @car.car_type %></h4>
    <p><%= link_to "Supprimer cette voiture",
                car_path(@car),
                method: :delete,
                data: { confirm: "Are you sure?"}, class: 'link-index' %></p>
    </div>

</div>
